@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700");

body{
  overflow: hidden;
  font-family: "Inconsolata", monospace;
  background: linear-gradient(-100deg, #ddd6f3 0%, #BA55D3  100%, #BA55D3  100%);
  background-attachment: fixed;
}

.row{
  display: flex;
  flex-flow: row wrap;
  }

  .col-3 {
    display: block;
    width: 33%;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
 }

 .pet{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 250px;
  height: 250px;
  border: 4px solid #9932CC;
  border-radius: 25px;
}

.alert {
  display: block;
  margin: 0 auto;
  padding: 2px;
  width: 254px;
  background-color: #9932CC;
  color: white;
  text-align: center;
  border-radius: 40px;
}

 #blocoImagem{
  padding: 20px 0px;
  position: relative;
}

.barra{
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: lightgreen;
  border: 2px solid white;
  content: "";
  display: block;
  height: 1rem;
  width: 250px;
  transition: width 1s;
  outline: 2px solid dimgray;
  text-align: center;
  border-radius: 40px;
  margin-bottom: 2px;
  margin-top: 2px;
}

.botao{
  width: 100%;
  height: 1.5rem;
  padding: 2px 50px;
  background: #F7F7F5;
  border-radius: 40px;
  border: 0px solid;
  font-family: "Inconsolata", monospace;
  font-size: large;
  margin-bottom: 7px;
  margin-top: 7px;
}

.botao.hover{
  background: #222;
}

.botao.active{
  background: #777;
}

#blocoBotao{
  width: 258px;
  padding: 0px 0px;
  display: inline-block;
}